In [4]:
n = int(input())
k = 0
n1 = n - n//2
for i in range(1, n1 + 1):
    for j in range(1, n+1):
        print(k * n + j, end = ' ')
    print()
    k = k + 2
n2 = n - n1
if n % 2 == 0:
    k = n - 1
else:
    k = n - 2
for i in range(1, n2 + 1):
    for j in range(1, n + 1):
        print(k * n + j, end = ' ')
    print()
    k = k - 2

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10

4

In [7]:
n = int(input())
var1 = n

for i in range(1,n+1):
    for j in range(1, i, 1):
        for x in range(1, i, 2*i):
            print(n-j+1, end = '')
    for k in range(2*n - 2*i + 2, 1, -1):
        print(var1, end = '') 
    var1 = var1 - 1
    for j in range(i, 1, -1):
        for x in range(1, i, 2*i):
            print(n-j+2, end = '') 
    print()
    
var2 = 2
for i in range(n, 1, -1):
    for j in range(2, i, 1):
        print(n - j + 2, end = '')
    for k in range(2*n - i , i-3, -1):
        print(var2, end = '')
    for x in range(i-1, 1, -1):
        print(n - x + 2, end = '')
    var2 +=  1
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444