# Q-1

Binary Pattern

Print the following pattern for the given number of rows.

Pattern for N 

Sample Input : 4

Sample Output :
```
1111
000
11
0
```
Sample Input : 5
Sample Output :
```
11111
0000
111
00
1

```

## code

In [1]:
# program
n = int(input())
row = 1
for i in range(n, 0 , -1):
    
    if(row%2 == 0):
        for j in range(i,0,-1):
            print(0, end='')
    else:
        for k in range(i,0,-1):
            print(1, end='')
    print()
    row = row + 1

4
1111
000
11
0

In [2]:
# program
n = int(input())
row = 1
for i in range(n, 0 , -1):
    
    if(row%2 == 0):
        for j in range(i,0,-1):
            print(0, end='')
    else:
        for k in range(i,0,-1):
            print(1, end='')
    print()
    row = row + 1

5
11111
0000
111
00
1

# Q-2

Print Number Pyramid

Print the following pattern for the given number of rows.

Pattern for N 

Sample Input : 6

Sample Output :
```
123456
  23456
    3456
      456
        56
          6
        56
      456
    3456
  23456
123456
```
Sample Input : 4
Sample Output :
```
1234
  234
    34
      4
    34
  234
1234

```

In [3]:
# program

n = int(input())
k = 0
for i in range(n,0,-1):
    #space loop
    for s in range(n-i,0,-1):
        print(' ',end='')
    
   
    for j in range(1,i+1,1):
        e = k + j
        print(e,end='')
        
    
    
    print()
    k = k + 1

k = k - 1   
for p in range(2,n+1,1):
    for s1 in range(n-p):
        print(' ',end='')
        
    for q in range(k,n+1,1):
        print(q,end='')
        
    print()
    k = k - 1

6
123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [4]:
# program

n = int(input())
k = 0
for i in range(n,0,-1):
    #space loop
    for s in range(n-i,0,-1):
        print(' ',end='')
    
   
    for j in range(1,i+1,1):
        e = k + j
        print(e,end='')
        
    
    
    print()
    k = k + 1

k = k - 1   
for p in range(2,n+1,1):
    for s1 in range(n-p):
        print(' ',end='')
        
    for q in range(k,n+1,1):
        print(q,end='')
        
    print()
    k = k - 1

4
1234
 234
  34
   4
  34
 234
1234

# Q-3

<h3>Diamond of Stars</h3>

Print the following pattern for the given number of rows.

Note: N is always odd.

Sample Input : 5

Sample Output :
```
  *
 ***
*****
 ***
  *
```
Sample Input : 3
Sample Output :
```
 *
***
 *
```

In [5]:
#code
n = int(input())
first = (n//2) + 1

for i in range(1,first + 1,1):
    #space loop
    for s in range(first-i):
        print(' ',end='')
    # increasing loop
    for j in range(i, 2*i, 1):
        print('*',end='')
        
    # decreasing loop
    for k in range(2*i-2,i-1,-1):
        print('*',end='')
    
    # new line
    print()
    

k = n//2
space = 1
for p in range(k,0,-1):
    #space 
    for g in range(k-p+1):
        print(' ',end='')
    
    #star 
    for j in range(2*p-1,0,-1):
        print('*',end='')
    
    print()

5
  *
 ***
*****
 ***
  *

In [6]:
#code
n = int(input())
first = (n//2) + 1

for i in range(1,first + 1,1):
    #space loop
    for s in range(first-i):
        print(' ',end='')
    # increasing loop
    for j in range(i, 2*i, 1):
        print('*',end='')
        
    # decreasing loop
    for k in range(2*i-2,i-1,-1):
        print('*',end='')
    
    # new line
    print()
    

k = n//2
space = 1
for p in range(k,0,-1):
    #space 
    for g in range(k-p+1):
        print(' ',end='')
    
    #star 
    for j in range(2*p-1,0,-1):
        print('*',end='')
    
    print()

3
 *
***
 *

# Q-4

<h3>Rectangular numbers</h3>

Print the following pattern for the given number of rows.



Sample Input : 4

Sample Output :
```
4444444
4333334
4322234
4321234
4322234
4333334  
4444444
```
Sample Input : 3
Sample Output :
```
33333
32223
32123
32223
33333
```

# Q-5

<h3>Print the pattern</h3>

Print the following pattern for the given number of rows.



Sample Input : 5

Sample Output :
```
  1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10
```
Sample Input : 3
Sample Output :
```
1  2  3  4
 9 10 11 12
13 14 15 16
 5  6  7  8
```

In [46]:
n = int(input())
k = 1
start,end = 0,0
for i in range(1,n+2,1):
    if i==2:
        start = k
        k = k + n
        end = k
    
    elif i==n+1:
        for j in range(i,e,1):
            print(j,end=' ')
        print()  
    
    
    else:
        for j in range(1,n+1,1):
            print(k,end=' ')
            k = k + 1
    
        print()

5
1 2 3 4 5
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
6 7 8

In [47]:
n = int(input())
#first half
row = 2*n - 1

for i in range(1,row+1,1):
    for j in range(1,row+1,1):
        
    
    print()

5
54123456789
1234567
5123454
54312334
541234