# Operations On Strings

### Split() Function

In [2]:
s = "My,name,is,Mohit"
# this return  a list of split ,default delimeter is space.
l = s.split()
l

['My,name,is,Mohit']

In [5]:
l = s.split(',')
l

['My', 'name', 'is', 'Mohit']

### string.split(delimeter,i+1) , i+1= how much split you want.

In [6]:
l = s.split(',',4)
l

['My', 'name', 'is', 'Mohit']

In [8]:
l = s.split(',',0)
l

['My,name,is,Mohit']

In [9]:
l = s.split(',',1)
l

['My', 'name,is,Mohit']

In [10]:
l = s.split(',',5)
l

['My', 'name', 'is', 'Mohit']

### Replace Function

#### Replace some elements in string

#### s.replace(what string you want to replace, desired string.)

In [12]:
s = "My name is Mohit"

In [16]:
# returning a new string, this does not affect the old string because string are  im-mutable.
s.replace('Mohit',"Mnr")

'My name is Mnr'

In [14]:
s

'My name is Mohit'

In [17]:
new_s = s.replace('Mohit',"Mnr")
new_s

'My name is Mnr'

#### Replace with element which is not present in the string, it don't do anything and dont throw error.

In [18]:
new_s = s.replace('Which',"Mnr")
new_s

'My name is Mohit'

### reaplace all same elements in the string.

#### s.replace(remove_ele, disired ele, how much time you replace- by default = replace all)

In [19]:
s = "My name is mohit mohit mohit mohit mohit"

In [20]:
new_s = s.replace('mohit',"Mnr")
new_s

'My name is Mnr Mnr Mnr Mnr Mnr'

In [23]:
# change only 1 mohit
new_s = s.replace('mohit',"Mnr",1)
new_s

'My name is Mnr mohit mohit mohit mohit'

In [24]:
new_s = s.replace('mohit',"Mnr",5)
new_s

'My name is Mnr Mnr Mnr Mnr Mnr'

### If more change number is given then it will replace the string till max number , onfurther it ends operation and don't throw error.

In [25]:
new_s = s.replace('mohit',"Mnr",6)
new_s

'My name is Mnr Mnr Mnr Mnr Mnr'

### Find Function

#### find returns the index of that substrings, Where from this substring is started.This substring must continuous part of string.

In [31]:
s

'My name is mohit mohit mohit mohit mohit'

In [32]:
sub_index = s.find('m')
sub_index

5

In [34]:
sub_index = s.find("mohit")
# means this substring starting from sub_index
sub_index

11

### If substring is not present then it give -1.

In [35]:
sub_index = s.find('abc')
sub_index

-1

#### If there are mutiple are multiple elements in the string then it will find the first's starting index.

In [36]:
s = "My name is mohit mohit mohit mohit mohit"

In [37]:
sub_index = s.find('mohit')
sub_index

11

#### we can also find the indexes b/w range.

In [41]:
# it give index -1 because 21th index is not included.
sub_index = s.find('mohit',12,21)
sub_index

-1

In [42]:
sub_index = s.find('mohit',12,22)
sub_index

17

### Lower() and upper() Function

In [44]:
g = "abcdefg"

In [45]:
g = g.upper()
g

'ABCDEFG'

In [46]:
g = g.lower()
g

'abcdefg'

In [47]:
g = g.capitalize()
g

'Abcdefg'

In [50]:
g = g.upper()
g

'ABCDEFG'

Definition and Usage

**The casefold() method returns a string where all the characters are lower case.**

This method is similar to the lower() method, **but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.**

In [51]:
g.casefold()

'abcdefg'

### strartswith:
#### Whether this substring start with given substring.

In [52]:
s

'My name is mohit mohit mohit mohit mohit'

In [53]:
s.startswith("my")

False

In [54]:
s.startswith("MY asdn")

False

In [55]:
s.startswith("My na")

True

#### Also you can check that particular index start with given substring.

In [56]:
s.startswith(' ',2)

True

In [57]:
s.startswith('',2)

True

#### end can be anything.

In [61]:
s.startswith('mo',11,250)

True