# Intro

### sets are unique data set.Sets are colletions of data. sets are unorderd type of data.

In [2]:
# in dictionary you have key-val pairs, here you have only keys.
d= {}
se = {}

In [4]:
se = {'abc',1,1.2,(2,123)}
print(se)
print(type(se))

{1.2, 1, (2, 123), 'abc'}
<class 'set'>

In [5]:
# not support indexing
se[0]

TypeError: 'set' object does not support indexing

In [7]:
# we cant get value corresponding to the key
se['abc']

TypeError: 'set' object is not subscriptable

In [8]:
'abc' in se

True

In [9]:
1 in se

True

In [10]:
[1,2,4] in se

TypeError: unhashable type: 'list'

In [11]:
213 in se

False

In [17]:
se = {(2, 123), 1, 1.2, 'abc',3.32}

In [19]:
se

{(2, 123), 1, 1.2, 3.32, 'abc'}

### For loop in set: there are no order is maintained in sets.

In [20]:
for i in se:
    print(i)

1
1.2
3.32
(2, 123)
abc

In [22]:
# length of sets
len(se)

5

In [23]:
se

{(2, 123), 1, 1.2, 3.32, 'abc'}

### add data

In [24]:
se.add(2)
se

{(2, 123), 1, 1.2, 2, 3.32, 'abc'}

In [26]:
# dont add duplicate items
se.add(1)
se

{(2, 123), 1, 1.2, 2, 3.32, 'abc'}

### Update

In [35]:
se = {(2, 123), 1, 1.2, 2, 3.32, 'abc'}

In [36]:
b = {'abc', 'abc', 'ghi',.123}
b

{0.123, 'abc', 'ghi'}

In [37]:
# update set 
se.update(b)
se

{(2, 123), 0.123, 1, 1.2, 2, 3.32, 'abc', 'ghi'}

### delete data in set

se.remove(key)

In [38]:
print(se.remove(.123))

None

In [40]:
# if key not preset then give error.
se.remove(.123)

KeyError: 0.123

### Discard function: if key not present then not thrown error.

In [42]:
se = {(2, 123), 0.123, 1, 1.2, 2, 3.32, 'abc', 'ghi'}
se

{(2, 123), 0.123, 1, 1.2, 2, 3.32, 'abc', 'ghi'}

In [43]:
se.discard(1)

In [44]:
se

{(2, 123), 0.123, 1.2, 2, 3.32, 'abc', 'ghi'}

In [45]:
# discard not thrown error
print(se.discard(1))

None

In [46]:
se.discard(213)

#### pop() remove random element

In [49]:
se = {(2, 123), 0.123, 1.2, 2, 3.32, 'abc', 'ghi'}

In [50]:
se

{(2, 123), 0.123, 1.2, 2, 3.32, 'abc', 'ghi'}

In [51]:
se.pop()

0.123

In [52]:
se

{(2, 123), 1.2, 2, 3.32, 'abc', 'ghi'}

In [53]:
se.pop()

1.2

In [55]:
# clear set 
se.clear()
se

set()

In [56]:
# delete set
del se
se

NameError: name 'se' is not defined

# Functions of set

In [57]:
a = {1,2,3,4,5,6,7}
b = {3,4,5,6}

In [58]:
a.intersection(b)

{3, 4, 5, 6}

In [62]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7}

In [63]:
a

{1, 2, 3, 4, 5, 6, 7}

In [64]:
b

{3, 4, 5, 6}

In [66]:
# printing a elements unique in set
a.difference(b)

{1, 2, 7}

In [68]:
# no unique element
b.difference(a)

set()

### Symmetric diffrence
#### union - intersection

In [69]:
a.symmetric_difference(b)

{1, 2, 7}

### intersection_update

In [73]:
a = {1,2,3,4,5,6,7}
b = {3,4,5,6}

In [74]:
# update set with it intersection
a.intersection_update(b)
a

{3, 4, 5, 6}

In [76]:
b.intersection_update(a)
b

{3, 4, 5, 6}

In [78]:
a = {1,2,3,4,5,6,7}
b = {3,4,5,6}

In [79]:
# update set with diffrence
a.difference_update(b)

In [80]:
a

{1, 2, 7}

In [81]:
a = {1,2,3,4,5,6,7}
b = {3,4,5,6}

In [82]:
a.symmetric_difference_update(b)
a

{1, 2, 7}

In [83]:
a = {1,2,3,4,5,6,7}
b = {3,4,5,6}

In [84]:
a.union_update(b)

AttributeError: 'set' object has no attribute 'union_update'

In [85]:
a = {1,2,3,4,5,6,7}
b = {3,4,5,6}

In [86]:
a.issuperset(b)

True

In [87]:
b.issubset(a)

True

In [88]:
c = {3,4}
c.issubset(a) and c.issubset(b)

True

### Disjoint() means both have differenet elements

In [89]:
a = {1,2,3,4}
b = {5,6,7}

In [90]:
a.isdisjoint(b)

True

In [91]:
b.isdisjoint(a)

True

In [93]:
c

{3, 4}

In [94]:
c.isdisjoint(b)

True

In [95]:
c.isdisjoint(a)

False

# Sum of all unique numbers in a list

In [96]:
a = {1,2,3,4,1,2,2,4}
len(a)

4

In [97]:
a.add(5)
len(a)

5

In [98]:
a.add(2)
len(a)

5

In [99]:
# python by default assumes it set
s = {}
type(s)

dict

In [100]:
s.add(1)

AttributeError: 'dict' object has no attribute 'add'

### Create a empty set

In [101]:
s = set()
type(s)

set

In [102]:
s = set({})
s

set()

In [104]:
def sum_Unique(l):
    s = set()
    for i in l:
        s.add(i)
    # sum
    su = 0
    for i in s:
        su = su + i
        
    return su

In [105]:
sum_Unique([1,2,3,4,5,5,4,3,2,1])

15