# Tuples

### Tuples are im-mutable

a = [1,2] # list
a = (1,2) # tuple

#### In Python , By default multiple things is behave like a tuple.

In [499]:
c,d = 1,2

In [500]:
print(c,d)

1 2

In [501]:
e = 1,2

In [502]:
print(e)
print(type(e))

(1, 2)
<class 'tuple'>

##### Python assumes that 1,2 is tuple.

In [503]:
e

(1, 2)

In [504]:
a = (1,2)
print(a)
print(type(a))

(1, 2)
<class 'tuple'>

#### Tuple is the default thing in python when you put multiple things at one place.

## How to access element in tuple

In [505]:
e

(1, 2)

In [506]:
e[0]

1

In [507]:
e[1]

2

In [508]:
e[2]

IndexError: tuple index out of range

In [509]:
e[-1]

2

In [510]:
e[-3]

IndexError: tuple index out of range

### List, Tuple , Strings are Orderd Sequences. So , indexing and slicing is same for them.

##### Tuple comprehension

In [511]:
a = (int(i) for i in range(1,11))
print(a)

<generator object <genexpr> at 0x000001B9D5F6AA20>

In [512]:
a = tuple(int(i) for i in range(1,11))
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [513]:
a[-1]

10

### Tuple supoorts Slicing and indexing.

In [514]:
a[::]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [515]:
a[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [516]:
a[2::3]

(3, 6, 9)

In [517]:
a[10:2]

()

In [518]:
a[-5:-7]

()

In [519]:
a[-5::-1]

(6, 5, 4, 3, 2, 1)

### Diffrence between tuple and list

#### Tuples are im-mutable. You can't update,add or remove the elements.
#### Lists are mutable.

In [520]:
l = [12,2,3,4,5]

In [521]:
l[0] = 1

In [522]:
l

[1, 2, 3, 4, 5]

In [523]:
del l[-1]

In [524]:
l

[1, 2, 3, 4]

In [525]:
del l

In [526]:
l

NameError: name 'l' is not defined

### For tuple

In [527]:
a  = (1,2,3,4,5)

In [528]:
a[1] = ''

TypeError: 'tuple' object does not support item assignment

In [529]:
del a[3]

TypeError: 'tuple' object doesn't support item deletion

In [530]:
a

(1, 2, 3, 4, 5)

### You cant delete tuple element but delete a tuple.

In [531]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [532]:
del a

In [533]:
a

NameError: name 'a' is not defined

# Tuple Functions

In [534]:
a = (1,2,3)
b = 4,5,6,7 # second way to define tuple

In [535]:
print(a)
print(b)

(1, 2, 3)
(4, 5, 6, 7)

### for loop in tuple

In [536]:
for i in a,b:
    print(i)

(1, 2, 3)
(4, 5, 6, 7)

In [537]:
1 in a

True

In [538]:
'1' in b

False

In [539]:
'1' in a

False

### Length of tuple

In [540]:
len(a)

3

### Create a new tuple by concatinations

In [541]:
c = a + b

In [542]:
c

(1, 2, 3, 4, 5, 6, 7)

In [543]:
len(c)

7

### Tuples of tuple

In [544]:
d = (a+b)
d

(1, 2, 3, 4, 5, 6, 7)

In [545]:
d = (a,b)
print(d)
print(len(d))

((1, 2, 3), (4, 5, 6, 7))
2

### Tuple n times

In [546]:
a*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [547]:
e = a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

### Max and min

In [548]:
max(a)

3

In [574]:
min(e)

1

### Operations  between instances of 'tuple' and 'int' are not supported in tuple.

In [580]:
g = (1,a,'mnr',3.4)
g

(1, ('mnr', 'gh', '13123'), 'mnr', 3.4)

In [581]:
min(g)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [582]:
max(g)

TypeError: '>' not supported between instances of 'tuple' and 'int'

### Operations  between instances of 'str' and 'int' are not supported in tuple.

In [583]:
f = (1,2,'mnr')

In [584]:
max(f)

TypeError: '>' not supported between instances of 'str' and 'int'

### Operations  between instances of 'tuple' and 'str' are not supported in tuple.

In [585]:
f = "mnr","m","n","r",(1,2,4),('m','n','r')
max(f)

TypeError: '>' not supported between instances of 'tuple' and 'str'


### Operations  between instances of 'tuple' and 'float' are not supported in tuple.

In [602]:
f = (2.2,(1,2,3,))

In [603]:
min(f)

TypeError: '<' not supported between instances of 'tuple' and 'float'

## You can compare string with string , int with int and tuple with tuple in tuple.

### Operations  between instances of 'int' and 'int' are supported in tuple.

In [586]:
a = 1,2,3,4,5,6,7

In [587]:
max(a)

7

### Operations  between instances of 'str' and 'str' are supported in tuple.

In [578]:
a = 'mnr','gh','13123'

In [579]:
min(a)

'13123'

### Operations  between instances of 'tuple' and 'tuple' are  supported in tuple.

In [588]:
a = (1,2,),(3,4),(5,6,7)
a

((1, 2), (3, 4), (5, 6, 7))

In [589]:
max(a)

(5, 6, 7)

In [590]:
min(a)

(1, 2)

### Operations  between instances of 'float' and 'float' are  supported in tuple.

In [591]:
a = 1.23,123,.31231,12312.23123
a

(1.23, 123, 0.31231, 12312.23123)

In [592]:
max(a)

12312.23123

In [593]:
min(a)

0.31231

#### list and tuple

In [604]:
l = [i for i in range(1,11,1)]
tuple(l)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)