In [1]:
a = input()
print(a)
print(type(a))

3
3
<class 'str'>

In [3]:
a = input()
b = input()
c = a+b
print(c)
print(type(c))
print(type(a))
print(type(b))

3
4
34
<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
# to change the data type to int
ab = '34'
ac = 3.4
ad = input()

5

In [5]:
new_ab = int(ab)
print(new_ab)
print(type(new_ab))

34
<class 'int'>

In [6]:
new_ac = int(ac)
print(new_ac)
print(type(new_ac))

3
<class 'int'>

In [9]:
new_ad = int(ad)
print(new_ad)
print(type((new_ad)))

5
<class 'int'>

In [10]:
int('asda')

ValueError: invalid literal for int() with base 10: 'asda'

### new sum with int()

In [11]:
a = int(input())
b = int(input())
c = a+b
print(c)
print(type(c))
print(type(a))
print(type(b))

10
5
15
<class 'int'>
<class 'int'>
<class 'int'>

### Float()

In [13]:
float('234')

234.0

In [14]:
float(1.1)

1.1

In [15]:
float(1.1312312312312)

1.1312312312312

In [16]:
float(3)

3.0

In [17]:
float('dasd')

ValueError: could not convert string to float: 'dasd'

In [18]:
# simple interest
p = int(input())
r = int(input())
t = int(input())
si = (p*r*t)/100
print(si)

100
7
5
35.0

In [19]:
# farenhit to celcius
f = int(input())
c = (f-32)*5/9

print(c)

100
37.77777777777778