# How lists are stored in a list

### List stores the reference of element, not the individual element.

### References are stored continuesly and order maintained during operations.

<img src="img/c.jpg" width="600" height="500" >

<img src="img/d.jpg" width="600" height="500" >

# Resizing of list

### How continuity  is maintained?

#### => Maintain continuity using resizing.

Continuity is maintained by copying again and again to new list , if referce location is not available. Suppose , if list has 3 len and 3rd reference location are not available , then it create a new list len 6 and assign to all. this going on untill operation is done.

### Resizing of list is maintained during list operations.

<img src="img/e.jpg" width="600" height="500" >

<img src="img/f.jpg" width="600" height="500">

# Iterate on a list

In [21]:
# print all the elements on the list.
li = [1,2,3,4,'312','2','a','b','c',32.23]
li

[1, 2, 3, 4, '312', '2', 'a', 'b', 'c', 32.23]

In [22]:
# using range()
for i in range(len(li)):
    print("index is:",i)
    # element at ith element
    print(li[i])

index is: 0
1
index is: 1
2
index is: 2
3
index is: 3
4
index is: 4
312
index is: 5
2
index is: 6
a
index is: 7
b
index is: 8
c
index is: 9
32.23

In [23]:
for i in range(len(li)+1):
    print("index is:",i)
    # element at ith element
    print(li[i])

index is: 0
1
index is: 1
2
index is: 2
3
index is: 3
4
index is: 4
312
index is: 5
2
index is: 6
a
index is: 7
b
index is: 8
c
index is: 9
32.23
index is: 10

IndexError: list index out of range

#### #because list index start from zero ,so no need to add 1. e.g= for n=7 , index from 0 to 6

In [24]:
# start at random index
for i in range(2,len(li)):
    
    # element at ith element
    print(li[i])

3
4
312
2
a
b
c
32.23

In [25]:
# start at random index
for i in range(2,len(li),2):
    
    # element at ith element
    print(li[i])

3
312
a
c

### using without range():

```for i in itreable:
    print(element of iterable)```

In [26]:
for i in li:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
312
<class 'str'>
2
<class 'str'>
a
<class 'str'>
b
<class 'str'>
c
<class 'str'>
32.23
<class 'float'>

In [27]:
for i in 'sdasdasdagsdf adf':
    print(i)
    print(type(i))

s
<class 'str'>
d
<class 'str'>
a
<class 'str'>
s
<class 'str'>
d
<class 'str'>
a
<class 'str'>
s
<class 'str'>
d
<class 'str'>
a
<class 'str'>
g
<class 'str'>
s
<class 'str'>
d
<class 'str'>
f
<class 'str'>

<class 'str'>
a
<class 'str'>
d
<class 'str'>
f
<class 'str'>

In [28]:
# start from patricular index
for i in li[2:]:
    print(i)

3
4
312
2
a
b
c
32.23

In [29]:
for i in li[2:7]:
    print(i)

3
4
312
2
a

In [30]:
# dont care at last index for slicing.
for i in li[2:20]:
    print(i)

3
4
312
2
a
b
c
32.23

# Taking input of lists

### Line Sepatared Input


```
Input:
n = 5
1
2
3
4
5

Output:
[1,2,3,4,5]

```

In [43]:
n = input()

5

In [44]:
n

'5'

In [45]:
n = int(input())
n

5

5

In [46]:
#For list index 0 to n-1
n = int(input())
a = []
for i in range(n):
    inp = int(input())
    a.append(inp)
    
print("Line separated input",a)

5
1
2
3
4
5
Line separated input [1, 2, 3, 4, 5]

In [47]:
for i in a:
    print(i)

1
2
3
4
5

### Space Sepatared Input


```
Input:
n = 5
1 2 3 4 5
Output:
[1,2,3,4,5]

```

In [48]:
n = int(input())
n

5

5

In [49]:
st = input()

1 2 3 4 5

In [50]:
st

'1 2 3 4 5'

#### # 2 ways of add it to li

In [52]:
li= []

In [53]:

# 1) using split() method, split based on delimeter.
# str.split(delimeter) = it retuerns a list of separated elements.
str_split = st.split(' ')
str_split

['1', '2', '3', '4', '5']

#### if we not specify delimeter it use space as a delimeter.

In [56]:
cm = input()

1,2,3,4,5

In [57]:
# comma separated
cm_split = cm.split(",")
cm_split

['1', '2', '3', '4', '5']

In [58]:
str_split

['1', '2', '3', '4', '5']

In [63]:
li = []

In [64]:
# convert list str to int
for i in str_split:
    li.append(int(i))

In [65]:
li

[1, 2, 3, 4, 5]

##### 2) one liner split input using list comprehension.

In [66]:
li = [int(i) for i in input().split()]

1 2 3 4 5

In [67]:
li

[1, 2, 3, 4, 5]

In [68]:
for i in li:
    print(i)

1
2
3
4
5

In [70]:
n = int(input())
li = [int(i) for i in input().split()]

for ele in li:
    print(ele)

5
1 2 3 4
1
2
3
4